.cubeCanvasDiv {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: stretch;
	padding: 10px;
}

.controlDiv {
	padding: 10px;
	display: flex;
	align-items: stretch;
	flex-direction: column;
	justify-content: space-evenly;
	position: absolute;
	z-index: 1;
	right: 20px;
}

.directionControlDiv {
	position: absolute;
	bottom: 70px;
	right: 10px;
	z-index: 1;
}

.zoomControlDiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	z-index: 1;
	margin: 10px 0;
	bottom: 0;
	right: 20px;
}
